.site, .site-nav, .site-footer {
    max-width: 1000px;
    margin: auto;
    background-color: white;
    color: #57534a;
}
.site {
    min-height: 960px;
}

.header {
    margin-top: 10px;
    h1.name {
        font-family: 'Alex Brush', serif;
        text-align: center;
        margin: auto;
    }
    h2.job   {
        font-family: 'Oranienbaum', serif;
        text-align: center;
        margin: auto;
        font-variant: small-caps;
    }
    .navigation {
        width: 75%;
        margin: 0 auto 20px;
        a {
            font-variant: small-caps;
        }
        .btn {
            color: #57534a;
            font-weight: 900;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.home-below-picture {
    height: 150px;
}
.content {
    width: 70%;
    margin: auto;
    img.home {
        width: 100%;
        height: auto;
   }
   padding-bottom: 50px;
}
.review {
    padding: 25px 20px 10px 20px;
    margin: 20px 30px 30px 30px;
    background: #eee;
    border-left: 5px solid #57534a;
    p:first-child:before {
        content: "\"";
        margin-right: 5px;
        font-size: 20px;
    }
    p:first-child:after {
        content: "\"";
        font-size: 20px;
    }
    a {
        color: #57534a;
        text-decoration: underline;
    }
    .review-content {
        min-height: 90px;
        .review-image {
            border-radius: 50%;
            float: left;
            display: block;
            margin-right: 5px;
        }
    }
}
.about {
    h3 {
        font-variant: small-caps;
    }
    p {
        margin-left: 15px;
    }
}

.orly {
    float: right;
}

.section-submissions {
    .cm_gray_top {
        display: none;
    }
}

.stupid-badges{
    margin-top: 25px;
    height: 10pc;
    width: 100%;
    a {
        float: left;
        margin-right: 1.93%;
    }
    &:first-child {
        margin-left: 1.93%;
    }
}
.after-float {
    clear: both;
}

.wedding_wire-couples_choice {
    background: url('../img/orly_awards.png') no-repeat;
    height: 158px;
    width: 158px;
    display: block;
    background-position-x: -171px;
}

.wedding_wire-brides_choice {
    background: url('../img/orly_awards.png') no-repeat;
    height: 158px;
    width: 158px;
    display: block;
}

.wedding_wire-rated {
    background: url('../img/orly_awards.png') no-repeat;
    height: 158px;
    width: 158px;
    display: block;
    background-position-x: -335px;
}

.weddingful-featured {
    background: url('../img/orly_awards.png') no-repeat;
    height: 158px;
    width: 158px;
    display: block;
    background-position-x: -497px;
}

.submit-form {
    margin-top: 10px;
}

.testimonial {
    margin: 10px 0 0 0;
    width: 75%;
    float: left;
    img {
        float:left;
        margin-right: 10px;
        display: block;
        border-radius: 50%;
    }
    p {
        font-size: 20px;
        font-style: italic;
    }
}
.callout {
    font-style: italic;
    font-size: 20px;
    width: 22%;
    float: right;
    margin-top: 10px;
}
.footer {
    .email {
        float: left;
    }
    .joseph {
        float: right;
        font-size: 9px;
    }
    .number {
        text-align: center;
    }
}