
{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
{{ block.super }}
<div class="site">
  <div class="content">
    <div class="community">
      <h3>Photography</h3><a href="http://www.ericbenchimol.com/" target="_blank" class="benchimol"></a>
    </div>
    <div class="community">
      <h3>Hair Stylist</h3><a href="http://lokihairstudio.com/" target="_blank" class="loki"></a><a href="http://rikkizucker.com/" target="_blank" class="zucker"></a>
    </div>
    <div class="community">
      <h3>Wedding Planner</h3><a href="http://www.melissabaum.com/" target="_blank" class="melissa"></a>
    </div>
  </div>
</div>{% endblock %}