doctype html
- var page = 'about'
include base
html(lang="en")
        block body
        .site
            .content
                img(src="img/orly.jpg", alt="", class="orly")
                .about
                    h3 Name
                    p Orly Kahn-Waldman
                .about
                    h3 About
                    p Certified Makeup Artist with work featured on Breakfast Television and at various bridal shows across the GTA.
                    p Available to travel to all areas surrounding the GTA (Brampton, Newmarket, Aurora, Thornhill, Mississauga, Richmond Hill, Etobicoke, Milton, Vaughan...)
                    p (Hair stylists are available upon request for a special rate)