| {% load staticfiles %}
doctype html
html(lang="en")
    head
        title Orly Kahn-Waldman Makeup Artist
        link(rel="stylesheet", type="text/css", href!='{% static "css/style.dist.css" %}')
        script(src!='{% static "js/requirements.dist.js" %}' type="text/javascript")

        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Oranienbaum')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Alex+Brush')
        | {% block body %}
        block body
            body
                .site
                    .header
                        h1.name Orly Kahn-Waldman
                        h2.job Makeup Artist
                        .navigation
                          | {% for page in pages %}
                          <a href="{{ page.path }}" class="btn {% if page.name == current_page_name %}active{% endif %}">{{ page.name }}</a>
                          | {% endfor%}
        | {% endblock %}