| {% extends "base.html" %}
| {% load staticfiles %}

| {% block body %}
| {{ block.super }}
.site
    .content
        .community
            h3 Photography
            a(href='http://www.ericbenchimol.com/', target='_blank').benchimol
        .community
            h3 Hair Stylist
            a(href='http://lokihairstudio.com/', target='_blank').loki
            a(href='http://rikkizucker.com/', target='_blank').zucker
        .community
            h3 Wedding Planner
            a(href='http://www.melissabaum.com/', target='_blank').melissa

| {% endblock %}