| {% extends "base.html" %}
| {% load staticfiles %}

| {% block body %}
| {{ block.super }}
.site
    .content
        .about
            h3 Photography
            a(href='http://www.ericbenchimol.com/', target='_blank')
                span(style!="background:url({% static 'img/community_logos.png' %}) no-repeat;display: block; background-position:0px -157px;width:624px;height:159px;")
        .about
            h3 Hair Stylist
            a(href='http://lokihairstudio.com/', target='_blank')
                span(style!="background:url({% static 'img/community_logos.png' %}) no-repeat;display: block; background-position:0px -316px;width:386px;height:390px;")
            a(href='http://rikkizucker.com/', target='_blank')
                span(style!="background:url({% static 'img/community_logos.png' %}) no-repeat;display: block; background-position:0px -706px;width:541px;height:103px;")
        .about
            h3 Wedding Planner
            a(href='http://www.melissabaum.com/', target='_blank')
                span(style!="background:url({% static 'img/community_logos.png' %}) no-repeat;display: block; background-position:0px 0px;width:326px;height:157px;")

| {% endblock %}