| {% extends "base.html" %}
| {% load staticfiles %}

| {% block body %}
| {{ block.super }}
.site
    .content
        .community
            h2 Luxury Wedding Vendors I Recommend
        .community
            h3 Photography
            a(href='http://www.ericbenchimol.com/', target='_blank')
                img(src="http://66.7.216.192/~eri//v1site_images/splash_logo.jpg?var=0.51334000 1396810736")
            a(href='http://www.daniellephotography.ca/', target='_blank')
                img(src="http://image7.photobiz.com/7114/19_20140125133650_4354006_large.png")
        .community
            h3 Hair Stylist
            a(href='http://lokihairstudio.com/', target='_blank')
                img(src="http://lokihairstudio.com/wp-content/themes/HairStudio/images/logo-2x.png")
            a(href='http://rikkizucker.com/', target='_blank')
                img(src="http://rikkizucker.com/wp-content/uploads/2013/11/header-6.jpg")
        .community
            h3 Wedding Planner
            a(href='http://www.melissabaum.com/', target='_blank')
                img(src="http://www.melissabaum.com/wp-content/uploads/2013/04/logo_letterpress.png")
            a(href='http://www.fabfete.ca/', target='_blank')
                img(src="http://www.fabfete.ca/images/FabFete.png")
            a(href='http://www.tamaratemes.com/', target='_blank')
                img(src="http://www.tamaratemes.com/wp-content/uploads/2012/12/tamara_temes_logo2.png").tamaratemes

| {% endblock %}