doctype html
- var page = 'contact'
include base
html(lang="en")
        block body
        .site
            .content
                iframe(src="http://www.vcita.com/widgets/contact_form/7a31f847263bdfb7?ver=2" width="100%" height="480" scrolling="no" frameborder="0" style="")
