doctype html
- var page = 'home'
include base
html(lang="en")
        block body
        .site
            .content
                img(src="img/home_page_makeup.png", alt="Applying Makeup", width=695, height=520).home
