@import url(../bower_components/bootstrap/dist/css/bootstrap.css);
.site {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  color: #57534a; }

.header {
  margin-top: 10px; }
  .header h1.name {
    font-family: 'Alex Brush', serif;
    text-align: center;
    margin: auto; }
  .header h2.job {
    font-family: 'Oranienbaum', serif;
    text-align: center;
    margin: auto;
    font-variant: small-caps; }
  .header .navigation {
    width: 75%;
    margin: 0 auto 20px; }
    .header .navigation a {
      font-variant: small-caps; }
    .header .navigation .btn {
      color: #57534a;
      font-weight: 900; }
      .header .navigation .btn:hover {
        text-decoration: underline; }

.content {
  width: 70%;
  margin: auto;
  padding-bottom: 50px; }
  .content img.home {
    width: 100%;
    height: auto; }

.review {
  padding: 25px 20px 10px 20px;
  margin: 20px 30px 30px 30px;
  background: #eee;
  border-left: 5px solid #57534a; }
  .review p:first-child:before {
    content: "\"";
    margin-right: 5px;
    font-size: 20px; }
  .review p:first-child:after {
    content: "\"";
    font-size: 20px; }
  .review a {
    color: #57534a;
    text-decoration: underline; }

.about p {
  margin-left: 15px; }

.orly {
  float: right; }

.section-submissions .cm_gray_top {
  display: none; }

.stupid-badges {
  height: 10pc;
  width: 100%; }
  .stupid-badges a {
    float: left;
    margin-right: 1.93%; }
  .stupid-badges:first-child {
    margin-left: 1.93%; }

.after-float {
  clear: both; }

.wedding_wire-couples_choice {
  background: url("../img/orly_awards.png") no-repeat;
  height: 158px;
  width: 158px;
  display: block;
  background-position-x: -171px; }

.wedding_wire-brides_choice {
  background: url("../img/orly_awards.png") no-repeat;
  height: 158px;
  width: 158px;
  display: block; }

.wedding_wire-rated {
  background: url("../img/orly_awards.png") no-repeat;
  height: 158px;
  width: 158px;
  display: block;
  background-position-x: -335px; }

.weddingful-featured {
  background: url("../img/orly_awards.png") no-repeat;
  height: 158px;
  width: 158px;
  display: block;
  background-position-x: -497px; }
