{% extends "base.html" %}
{% load staticfiles %}

{% block body %}
  {{ block.super }}

  <div class="site">
    <div class="content"><img src="{% static "img/orly.jpg" %}" alt="" class="orly">
      <div class="about">
        <h3>Name</h3>
        <p>Orly Kahn-Waldman</p>
      </div>
      <div class="about">
        <h3>About</h3>

        <p>Orly is a certified Makeup Artist with over 10 years experience in the wedding industry. Her love for makeup artistry began as a little girl. She was fascinated with the special effects makeup on Buffy the Vampire Slayer and that led to working on an independent film (as the key makeup artist) at the age of 17. Eager to pursue a career in the field, Orly attended school to enhance her knowledge in the beauty industry and quickly fell in love with bridal makeup.</p>

        <p>She has perfected her services for women of every skin tone and type and has since been awarded the Best for Brides award by weddingwire.com in 2013 and the Couples Choice award by weddingwire.com in 2014.</p>

        <p>From immaculate skin, to lovely lips, engaging eyes to a blushing bride – Orly knows how to make you confident enough to own the spotlight, with a wedding portfolio full of range and beauty. Orlys work has been featured on Breakfast Television and bridal shows throughout GTA, so you can add yours to her list of famous faces!</p>

      </div>
    </div>
  </div>
{% endblock %}
