<!DOCTYPE html>{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orly Kahn-Waldman Makeup Artist</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.dist.css' %}">
    <script src="{% static 'js/requirements.dist.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oranienbaum">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alex+Brush">{% block body %}
    <body>
      <div class="site">
        <div class="header">
          <h1 class="name">Orly Kahn-Waldman</h1>
          <h2 class="job">Makeup Artist</h2>
          <div class="navigation">
            {% for page in pages %}
            <a href="{{ page.path }}" class="btn {% if page.name == current_page_name %}active{% endif %}">{{ page.name }}</a>
            {% endfor%}
          </div>
        </div>
      </div>
    </body>{% endblock %}
  </head>
</html>
<html lang="en">
  <div class="site">
    <div class="content"><img src="img/orly.jpg" alt="" class="orly">
      <div class="about">
        <h3>Name</h3>
        <p>Orly Kahn-Waldman</p>
      </div>
      <div class="about">
        <h3>About</h3>
        <p>Certified Makeup Artist with work featured on Breakfast Television and at various bridal shows across the GTA.</p>
        <p>Available to travel to all areas surrounding the GTA (Brampton, Newmarket, Aurora, Thornhill, Mississauga, Richmond Hill, Etobicoke, Milton, Vaughan...)</p>
        <p>(Hair stylists are available upon request for a special rate)</p>
      </div>
    </div>
  </div>
</html>