
{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
{{ block.super }}
<div class="site">
  <div class="content">{% for review in reviews %}
    <div class="review">
      <div class="review-content">{% if review.thumbnail_width %}<span style="background:url({% static review.thumbnail_path %}) no-repeat; background-position:0px -{{ review.thumbnail_offset_top }}px;width:{{ review.thumbnail_width }}px;height:{{ review.thumbnail_height }}px;" alt="{{ review.author }}" class="review-image"></span>{% endif %}
        <p>{{ review.text | safe }}</p>
      </div>{% if review.author %}
      <p>– {{ review.author }}</p>{% endif %}
    </div>{% endfor %}
  </div>
</div>
<script type="text/javascript">
  function submitReviewForm() {
    setCSRF();
    return submitReviewFormOld('{% url "reviews:form_submit" %}');
  };
  
</script>{% endblock %}