{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orly Kahn-Waldman Makeup Artist</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.dist.css" %}">
    <script src="{% static "js/requirements.dist.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oranienbaum">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alex+Brush">{% block body %}
    <body>
      <div class="site-nav">
        <div class="header">
          <h1 class="name">Orly Kahn-Waldman</h1>
          <h2 class="job">Makeup Artist</h2>
          <div class="navigation">
            {% for page in pages %}
            <a href="{{ page.path }}" class="btn {% if page.name == current_page_name %}active{% endif %}">{{ page.name }}</a>
            {% endfor%}
          </div>
        </div>
      </div>
    </body>{% endblock %}
    {% block footer %}
    <div class="site-footer">
      <div class="content">
        <div style="margin-top: 50px; border-top: 1px solid black" class="footer">
          <p class="email">orly@orlywaldman.com</p>
          <p class="joseph">Designed and written by <a href="http://jbkahn.github.io/" target="_blank">Joseph Kahn</a></p>
          <p class="number">416 399 6078</p>
        </div>
      </div>
    </div>{% endblock %}
  </head>
</html>