{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orly Kahn-Waldman Makeup Artist</title>
    <script type="text/JavaScript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"></script>
    <script type="text/JavaScript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.dist.css" %}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oranienbaum">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alex+Brush">
    {% block body %}
    <body>
      <div class="site">
        <div class="header">
          <h1 class="name">Orly Kahn-Waldman</h1>
          <h2 class="job">Makeup Artist</h2>
          <div class="navigation">
            {% for page in pages %}
              <a href="{{ page.path }}" class="btn {% if page.name == current_page_name %}active{% endif %}">{{ page.name }}</a>
            {% endfor%}
          </div>
        </div>
      </div>
    </body>
    {% endblock %}
  </head>
</html>