{% load static %}
<div class="site">
  <div class="content">
    <div class="gallery-click">Click on any image in the gallery to get a closer look!</div>
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body-->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <!-- The container for the modal slides-->
      <div class="slides"></div>
      <!-- Controls for the borderless lightbox-->
      <h3 class="title"></h3><a class="prev">‹</a><a class="next">›</a><a class="close">×</a><a class="play-pause"></a>
      <ol class="indicator"></ol>
      <!-- The modal dialog, which will be used to wrap the lightbox content-->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" aria-hidden="true" class="close">×</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body next"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left prev"><i class="glyphicon glyphicon-chevron-left"></i>Previous</button>
              <button type="button" class="btn btn-primary next">Next<i class="glyphicon glyphicon-chevron-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="links" data-masonry-options="{ &quot;itemSelector&quot;: &quot;.gallery-image&quot;, &quot;columnWidth&quot;: 223, &quot;gutter&quot;: 15}" class="js-masonry">{% for image in images %}<a href="{% static image.big_path %}" title="{{ image.title }}" data-gallery="data-gallery"><span style="margin-bottom: 15px;display:block;background:url({% static image.small_path %}) no-repeat; background-position:0px -{{ image.thumbnail_offset_top }}px;width:{{ image.thumbnail_width }}px;height:{{ image.thumbnail_height }}px;" data-src="{% static image.small_path %}" alt="{{ image.title }}" class="gallery-image"></span></a>{% endfor %}</div>
  </div>
</div>